<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TAG_COUNT" value="4"/>
		<add key="ANIME_COUNT" value="10"/>
		<add key="TOP_ANIME_COUNT" value="1000"/>
		<add key="YEAR_MIN" value="0"/>
		<!--"Light", "Dark" -->
		<!--"Red", "Green", "Blue", "Purple", "Orange", "Lime", "Emerald", "Teal", "Cyan", "Cobalt", "Indigo", "Violet", "Pink", "Magenta", "Crimson", "Amber", "Yellow", "Brown", "Olive", "Steel", "Mauve", "Taupe", "Sienna"-->
		<add key="THEME" value ="Dark.Red"/>
	</appSettings>
</configuration>